@import url("https://fonts.cdnfonts.com/css/mont");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,80");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: white;
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/*###########################################################################################  */
/*#########################################mobile############################################  */
/*###########################################################################################  */

@media screen and (max-width: 480px) {
	#header {
		width: 100%;
		height: 10%;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		position: fixed;
		z-index: 2;
		transition: 0.2 ease;
	}

	#logo {
		width: 120px;
		height: 30px;
	}

	.hamburger {
		width: 30px;
		transition: 0.3s ease-out;
	}

	#header ul {
		display: none;
	}

	.mobileMenu {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(11, 11, 95, 0.801);
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		opacity: 0;
		transition: 0.3s ease-out;
	}

	.mobileMenu p a {
		font-family: "Montserrat";
		color: white;
		font-size: 20px;
	}

	.mobileMenu p {
		margin: 10px 0;
	}

	.X {
		position: absolute;
		width: 30px;
		top: 30px;
		right: 30px;
	}

	#banner {
		width: 100%;
		height: 100%;
		background-image: url(../images/tla4.png);
		background-size: cover;
		background-position: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5%;
	}

	#banner h1 {
		font-family: "Montserrat";
		font-size: 40px;
		font-weight: 500;
		color: white;
	}

	#banner p {
		font-family: "Montserrat";
		font-size: 15px;
		color: white;
		margin-top: 40px;
		width: 80%;
	}

	#content {
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	.content-left {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 5%;
	}

	.content-left h1 {
		font-family: "Montserrat";
		font-size: 60px;
		font-weight: 500;
		color: black;
	}

	.content-left p {
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: 500;
		color: black;
		margin-top: 40px;
		width: 80%;
	}

	.content-right {
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content-right img {
		width: 70%;
	}

	#footer {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: row-reverse;
		margin-top: 10%;
		padding-bottom: 10%;
	}

	#footer .right {
		width: 50%;
		height: 100%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.right li {
		font-family: "Montserrat";
		font-size: 15px;
		text-align: left;
		margin: 20px 0;
	}

	#footer .left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 0 5%;
	}

	#footer .left img {
		width: 300px;
	}

	.left h3 {
		font-family: "Montserrat";
		font-size: 25px;
		font-weight: 500;
		margin: 20px 0;
		margin-left: 0px;
	}

	.left p {
		font-family: "Montserrat";
		font-size: 15px;
		margin-left: 0px;
	}

	.needed {
		margin-bottom: 30px;
	}
}

/*###########################################################################################  */
/*#########################################tablet############################################  */
/*###########################################################################################  */

@media screen and (max-width: 1024px) and (min-width: 481px) {
	#header {
		width: 100%;
		height: 10%;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		position: fixed;
		z-index: 2;
		transition: 0.2 ease;
	}

	#logo {
		width: 200px;
		height: 60px;
	}

	.hamburger {
		width: 30px;
		transition: 0.3s ease-out;
	}

	#header ul {
		display: none;
	}

	.mobileMenu {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(11, 11, 95, 0.801);
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		opacity: 0;
		transition: 0.3s ease-out;
	}

	.mobileMenu p a {
		font-family: "Montserrat";
		color: white;
		font-size: 25px;
	}

	.mobileMenu p {
		margin: 20px 0;
	}

	.X {
		position: absolute;
		width: 30px;
		top: 30px;
		right: 30px;
	}

	#banner {
		width: 100%;
		height: 100%;
		background-image: url(../images/tla4.png);
		background-size: cover;
		background-position: 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5%;
	}

	#banner h1 {
		font-family: "Montserrat";
		font-size: 100px;
		font-weight: 500;
		color: white;
	}

	#banner p {
		font-family: "Montserrat";
		font-size: 25px;
		color: white;
		margin-top: 40px;
		width: 80%;
	}

	#content {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	.content-left {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 5%;
	}

	.content-left h1 {
		font-family: "Montserrat";
		font-size: 100px;
		font-weight: 500;
		color: black;
	}

	.content-left p {
		font-family: "Montserrat";
		font-size: 25px;
		font-weight: 500;
		color: black;
		margin-top: 40px;
		width: 80%;
	}

	.content-right {
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 5%;
	}

	.content-right img {
		width: 70%;
	}

	#footer {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: row-reverse;
		margin-top: 10%;
		padding-bottom: 10%;
	}

	#footer .right {
		width: 50%;
		height: 100%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.right li {
		font-family: "Montserrat";
		font-size: 25px;
		text-align: left;
		margin: 20px 0;
	}

	#footer .left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding: 0 5%;
	}

	#footer .left img {
		width: 400px;
	}

	.left h3 {
		font-family: "Montserrat";
		font-size: 45px;
		font-weight: 500;
		margin: 20px 0;
		margin-left: 0px;
	}

	.left p {
		font-family: "Montserrat";
		font-size: 25px;
		margin-left: 0px;
	}

	.needed {
		margin-bottom: 30px;
	}
}

/*###########################################################################################  */
/*#########################################notebook##########################################  */
/*###########################################################################################  */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
	#header {
		width: 100%;
		height: 10%;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		position: fixed;
		z-index: 2;
		transition: 0.2 ease;
	}

	#header img {
		width: 120px;
		height: 30px;
	}

	#header ul {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#header ul li {
		font-family: "Montserrat";
		font-size: 15px;
	}

	.mobileMenu,
	.hamburger {
		display: none;
	}

	#banner {
		width: 100%;
		height: 100%;
		background-image: url(../images/tla4.png);
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5%;
	}

	#banner h1 {
		font-family: "Montserrat";
		font-size: 60px;
		font-weight: 500;
		color: white;
	}

	#banner p {
		font-family: "Montserrat";
		font-size: 15px;
		color: white;
		margin-top: 40px;
		width: 80%;
	}

	#content {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: row;
	}

	.content-left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 5%;
	}

	.content-left h1 {
		font-family: "Montserrat";
		font-size: 60px;
		font-weight: 500;
		color: black;
	}

	.content-left p {
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: 500;
		color: black;
		margin-top: 40px;
	}

	.content-right {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content-right img {
		width: 70%;
	}

	#footer {
		width: 100%;
		height: 70%;
		display: flex;
		flex-direction: row-reverse;
		margin-top: 5%;
	}

	#footer .right {
		width: 50%;
		height: 100%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.right li {
		font-family: "Montserrat";
		font-size: 15px;
		text-align: right;
		margin: 20px 0;
	}

	#footer .left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0 5%;
	}

	#footer .left img {
		width: 300px;
	}

	.left h3 {
		font-family: "Montserrat";
		font-size: 25px;
		font-weight: 500;
		margin: 20px 0;
		margin-left: 50px;
	}

	.left p {
		font-family: "Montserrat";
		font-size: 15px;
		margin-left: 50px;
	}

	.needed {
		margin-bottom: 30px;
	}
}

/*###########################################################################################  */
/*#########################################pc##########################################  */
/*###########################################################################################  */

@media screen and (min-width: 1281px) {
	#header {
		width: 100%;
		height: 10%;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		position: fixed;
		z-index: 2;
		transition: 0.2 ease;
	}

	#header img {
		width: 1ž0px;
		height: 50px;
	}

	#header ul {
		width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#header ul li {
		font-family: "Montserrat";
		font-size: 18px;
	}

	.hamburger {
		display: none;
	}

	.mobileMenu {
		display: none;
	}

	#banner {
		width: 100%;
		height: 100%;
		background-image: url(../images/tla4.png);
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5%;
	}

	#banner h1 {
		font-family: "Montserrat";
		font-size: 70px;
		font-weight: 500;
		color: white;
	}

	#banner p {
		font-family: "Montserrat";
		font-size: 18px;
		color: white;
		margin-top: 40px;
		width: 80%;
	}

	#content {
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: row;
	}

	.content-left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 5%;
	}

	.content-left h1 {
		font-family: "Montserrat";
		font-size: 70px;
		font-weight: 500;
		color: black;
	}

	.content-left p {
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: 500;
		color: black;
		margin-top: 40px;
	}

	.content-right {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content-right img {
		width: 70%;
	}

	#footer {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: row-reverse;
		margin-top: 0%;
	}

	#footer .right {
		width: 50%;
		height: 100%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.right li {
		font-family: "Montserrat";
		font-size: 15px;
		text-align: right;
		margin: 20px 0;
	}

	#footer .left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0 5%;
	}

	#footer .left img {
		width: 300px;
	}

	.left h3 {
		font-family: "Montserrat";
		font-size: 25px;
		font-weight: 500;
		margin: 20px 0;
		margin-left: 50px;
	}

	.left p {
		font-family: "Montserrat";
		font-size: 15px;
		margin-left: 50px;
	}

	.needed {
		margin-bottom: 30px;
	}
}
